.btn {
  background-color: var(--color-btnBg);
  border-radius: 12px;
  color: var(--color-secondaryText);
  padding: 0.8rem 1rem;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-primaryText);
}
