.container {
  table {
    background-color: var(--color-chartBg);
    font-family: var(--color-inter);
    font-weight: 300;
    // text-align: center;
    border-radius: 8px;
    border-collapse: collapse;
    width: 70%;
    overflow: hidden;

    th,
    td {
      padding: 1.2rem 1.25rem;
      text-align: center;
      border: 1px solid var(--color-mainBg);
      color: var(--color-primaryText);
    }

    thead {
      background-color: var(--color-tableHeaderBg);

      th {
        color: var(--color-primaryText);
        font-weight: 600;
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: var(--color-tableHoverRow);
          color: var(--color-primaryText);
        }
      }
    }
  }
}

.actionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  button {
    cursor: pointer;
  }
  .iconBtn {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: var(--color-secondaryBg);

      border-radius: 50;
    }
  }
}
