.appContainer {
  margin: 0;
  background-color: var(--color-secondaryBg);
  display: flex;
  min-height: 100vh;
  font-family: var(--font-primary);
  .mainContainer {
    background-color: var(--color-primaryBg);
    width: 100%;
  }
}
